:root{
    color-scheme: dark light;
    --primary-color: #4caf50;
    --secondary-color: #f44336;
    --bg-color: #f0f0f0;
    --text-color-dark: #333;
    --text-color-light: #fff;
}

body{
    display: grid;
    place-content: center;
    height: 100vh;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color-dark);
    text-align: center;
}   

h1{
    color: var(--primary-color);
}
h2{
    color: var(--secondary-color);
    margin-bottom: 30px;
}
.juego{
    display: flex;
    justify-content: center;
    align-items: center;

}
.dados{
    display: flex;
    justify-content: center;
 
}
img{
    width: 120px;
    height: auto;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}
img:hover{
    transform: scale(1.1);
}

.resultado p{
    font-size: 1.5rem;
    color: var(--primary-color);
    margin: 20px 0px;
}

button{
    background-color: var(--primary-color);
    border: none;
    color: var(--text-color-light);
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: backgroud-color 0.3s ease;
}

button:hover{
    background-color: var(--secondary-color);
}