:root {
  color-scheme: dark light;
}

body {
  display: grid;
  place-content: center;
}

.dados {
  display: flex;
  justify-content: center; /*centra las imagenes horizontalmente*/
  gap: 20px; /*espacio entre imagenes*/
}

img{
    width: 100px; /*tamaño de la imagen*/
    height: auto;
}